* {
  /* margin: 0; */
  padding: 0;
  font-family: Montserrat,  sans-serif;
  background-color: burlywood;
}



header {
  /* width: 100vw; */
  text-align: center;
  margin: 20px;
}

main {
  text-align: center;
  margin: auto;
  display: grid;
  max-width: 95%;
  /* grid-template-rows: 33% 33% 33%; */
}

section {
  padding-top: 20px;
  padding-bottom: 20px;
}

#calculator {

}

.middle {
  margin: auto;
  /* display: flex; */
  max-width: 400px;
  
  align-items: center;
  justify-self: center;
}

#inputs {
  display: grid;
  /* margin-left: 40vw; */
  justify-content: center;
   
}

@media only screen and (min-width: 670px) {
#inputs {
  grid-template-columns: 1fr 1fr;  
}
}

#hours, #minutes, #seconds {
  display: inline-block;
}

.hidden {
  visibility: hidden;
}

main :focus-visible {
  background-color: yellow;
}

h1, h2, h3, h4 {
  margin: 20px;
}

h1 a {
  text-decoration: none;
  color: black;
}

a {
  align-content: right;
}
.list {
  text-align: left;
  margin-left: 30vw;
}

#btCalculate {
  width: 150px;
  height: 40px;
  border-radius: 25px;
  background-color: chartreuse;
}

#output {
  text-align: center;
}

#inputs input {
  padding: 5px;
  /* width: auto; */
  margin-bottom: 5px;
  background-color: white;
  text-align: right;
}

.time_inputs {
  display: grid;
  grid-template-columns: 60px 60px 60px;

}

#result {
  /* width: 200px; */
  border: 1px solid black;
  padding: 5px;
  font-weight: bold;
  background-color: cyan;
}

#clip:hover {
  cursor: pointer; 
}

#links {
  display: flex;
  flex-direction: column;
}

