* {
  padding: 0;
  font-family: Montserrat,  sans-serif;
  background-color: burlywood;
  box-sizing: border-box;
}

header {
  text-align: center;
  margin: 20px;
}

main {
  text-align: center;
  margin: auto;
  display: grid;
  max-width: 95%;
}

section {
  padding-top: 20px;
  padding-bottom: 20px;
}

.middle {
  margin: auto;
  max-width: 400px;
}

#inputs {
  display: grid;
  justify-content: center;
}

#distance {
  width: 180px;
}

@media only screen and (min-width: 670px) {
#inputs {
  grid-template-columns: 1fr 1fr;  
}
}

#hours, #minutes, #seconds {
  display: inline-block;
}

.hidden {
  visibility: hidden;
}

main :focus-visible {
  background-color: yellow;
}

h1, h2, h3, h4 {
  margin: 20px;
}

h1 a {
  text-decoration: none;
  color: black;
}

.list {
  text-align: left;
  margin-left: 30vw;
}

#btCalculate {
  width: 150px;
  height: 40px;
  border-radius: 25px;
  background-color: chartreuse;
  margin: 10px;
  font-weight: bold;
}

#output {
  text-align: center;
}

label {
  padding: 5px;
}

#inputs input {
  padding: 5px;
  margin-bottom: 5px;
  background-color: white;
  text-align: right;
}

.time_inputs {
  display: grid;
  grid-template-columns: 60px 60px 60px;

}

#result {
  border: 1px solid black;
  padding: 5px;
  font-weight: bold;
  background-color: cyan;
}

#clip:hover {
  cursor: pointer; 
}

#links {
  display: flex;
  flex-direction: column;
}

footer {
  position: fixed;
  height: 25px;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  vertical-align: middle;
  background-color: #084b54;
}

footer > a {
  background-color: #084b54;
  color: white;
}